{{ form_start(form) }}
<div class="row">
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">
                Fiche Cycle                                            
            </div>
            <div class="card-body">
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.nom, 'Nom', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.nom, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.nom) }}
                    </div>
                </div>
                 <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.startdate, 'Début', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.startdate, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.startdate) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.enddate, 'Fin', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.enddate, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.enddate) }}
                    </div>
                </div>
                 <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.description, 'Description (Optionnel)', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.description, {'attr':{}}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.description) }}
                    </div>
                </div>
                
                <button class="btn btn-outline-primary">
                        {{ button_label|default('Sauvegarder') }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
