{{ form_start(form) }}
{% set currentSection = sections[0] %}
{% set currentCategory = currentSection.niveaux[0] %}

{% set currentSection2 = sections[0] %}
{% set currentCategory2 = currentSection2.niveaux[0] %}
<script>
 var sections = []
 {% for option in sections %}
    sections.push({ 
        nom : "{{ option.nom }}",
        id : {{ option.id }},
        niveaux : [
            {% for niveau in option.niveaux %}
            { 
                nom : "{{ niveau.nom }}",
                id : {{ niveau.id }},
                equipes : [
                    {% for equipe in niveau.equipes %}
                    {
                        nom : "{{ equipe.nom }}",
                        id : {{ equipe.id }},
                    },
                    {% endfor%}
                ]
            },
            {% endfor%}
        ]
        })
{% endfor %}
var currentSection = sections[0]
var currentCategory = currentSection.niveaux[0]

var currentSection2 = sections[0]
var currentCategory2 = currentSection2.niveaux[0]

console.log(sections)
function handleSectionChange(selectElement) {
    currentSection = sections[selectElement.value];
    currentCategory = currentSection.niveaux[0];
    updateCategoryOptions(currentSection.niveaux);
    updateEquipeOptions(currentCategory.equipes);


    // You can perform additional actions here based on the selected option.
    // For example, update the UI, make an AJAX request, etc.
}
function handleSection2Change(selectElement) {
    currentSection2 = sections[selectElement.value];
    currentCategory2 = currentSection2.niveaux[0];
    updateCategory2Options(currentSection2.niveaux);
    updateEquipe2Options(currentCategory2.equipes);


    // You can perform additional actions here based on the selected option.
    // For example, update the UI, make an AJAX request, etc.
}

function handleCategoryChange(selectElement) {
    console.log(selectElement.value)
    currentCategory = currentSection.niveaux[selectElement.value];
    var equipesItem = document.getElementById('adherant_equipeid')
    updateEquipeOptions(currentCategory.equipes);

    // You can perform additional actions here based on the selected option.
    // For example, update the UI, make an AJAX request, etc.
}
function handleCategory2Change(selectElement) {
    console.log(selectElement.value)
    currentCategory2 = currentSection2.niveaux[selectElement.value];
    var equipesItem = document.getElementById('adherant_equipe2id')
    updateEquipe2Options(currentCategory2.equipes);

    // You can perform additional actions here based on the selected option.
    // For example, update the UI, make an AJAX request, etc.
}

function updateCategoryOptions( newOptions) {
    // Clear existing options
    let selectElement = document.getElementById('niveaux')
    selectElement.innerHTML = '';
    if(newOptions.length == 0) {
        newOptions.push({
            value: "-1",
            nom: "Choisir une catégorie" 
        })
    }
    // Add new options
    newOptions.forEach(function(option,index) {
        var optionElement = document.createElement('option');
        optionElement.value = index;
        optionElement.text = option.nom;
        selectElement.add(optionElement);
    });
}
function updateCategory2Options( newOptions) {
    // Clear existing options
    let selectElement = document.getElementById('niveaux2')
    selectElement.innerHTML = '';
    if(newOptions.length == 0) {
        newOptions.push({
            value: "-1",
            nom: "Choisir une catégorie" 
        })
    }
    // Add new options
    newOptions.forEach(function(option,index) {
        var optionElement = document.createElement('option');
        optionElement.value = index;
        optionElement.text = option.nom;
        selectElement.add(optionElement);
    });
}

function updateEquipeOptions( newOptions) {
    // Clear existing options
    let selectElement = document.getElementById('adherant_equipeid')
    selectElement.innerHTML = '';
    if(newOptions.length == 0) {
        newOptions.push({
            value: "-1",
            nom: "Choisir une équipe" 
        })
    }
    // Add new options
    newOptions.forEach(function(option) {
        var optionElement = document.createElement('option');
        optionElement.value = option.id;
        optionElement.text = option.nom;
        selectElement.add(optionElement);
    });
}
function updateEquipe2Options( newOptions) {
    // Clear existing options
    let selectElement = document.getElementById('adherant_equipe2id')
    selectElement.innerHTML = '';
    if(newOptions.length == 0) {
        newOptions.push({
            value: "-1",
            nom: "Choisir une équipe" 
        })
    }
    // Add new options
    newOptions.forEach(function(option) {
        var optionElement = document.createElement('option');
        optionElement.value = option.id;
        optionElement.text = option.nom;
        selectElement.add(optionElement);
    });
}
</script>
<div class="row">
    <div class="col-xl-4">
        <div class="card mb-4">
            <div class="card-header">
                Image          
            </div>
            <div class="card-body text-center">
                <div class="small font-italic text-muted mb-4">
                    No larger than 5 MB </br>                        
                    {% if adherant is defined %}
                        <img src="{{ vich_uploader_asset(adherant.picture, 'imageFile') }}" alt="Image" class="img-thumbnail" width="600px" height="50%" id="image"/>
                    {% endif %}
                </div>
            </div>
            <div class="card-body text-center">
                {{ form_widget(form.image, {'attr':{'title':'', 'width':'10' }}) }}
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">
                Fiche d'inscription                                            
            </div>
            <div class="card-body">
                <hr>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.nom, 'Nom', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.nom, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.nom) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.prenom, 'Prénom', {'label_attr':{'class':'small mb-1' }}) }}                                    
                        {{ form_widget(form.prenom, {'attr':{'class':'form-control' }}) }}       
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.prenom) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.numTel, 'Téléphone', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.numTel, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.numTel) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.birthdate, 'Date de Naissance', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.birthdate, {'attr':{'class':'form-control form-control-custom' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.birthdate) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.birthplace, 'Lieu de Naissance', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.birthplace, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.birthplace) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.ecole, 'Etablissement', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.ecole, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.ecole) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.niveauScolaire, 'Niveau Scolaire', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.niveauScolaire, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.niveauScolaire) }}
                    </div>
                </div>
                
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.licence, 'Licence', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.licence, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.licence) }}
                    </div>
                </div>
                
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.sexe, 'Sexe', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.sexe, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.sexe) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.maladie, 'Maladie', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.maladie, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.maladie) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.supervisorId, 'Parent', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.supervisorId, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.supervisorId) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.supervisor2Id, 'Deuxiéme Parent (Optionnel)', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.supervisor2Id, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.supervisor2Id) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-4">
                        
                        {{ form_label(form.equipeid, 'Section', {'label_attr':{'class':'small mb-1' }}) }}                                  
                        <select onchange="handleSectionChange(this)" class="form-control">
                            <option value="-1">
                                Choisir une Section
                            </option>
                        {% for index,option in sections %}
                            <option value="{{ index }}" >
                                {{ option.nom }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.equipeid, 'Catégorie', {'label_attr':{'class':'small mb-1' }}) }}                                  
                        <select id="niveaux" onchange="handleCategoryChange(this)" class="form-control">
                            <option value="-1">
                                Choisir une Categorie
                            </option>
                        {% for index,option in currentSection.niveaux %}
                            <option value="{{ index }}" >
                                {{ option.nom }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.equipeid, 'Niveau', {'label_attr':{'class':'small mb-1' }}) }}                                  
                        {{ form_widget(form.equipeid, {'attr':{'class':'form-control' }}) }}                               

                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.equipeid) }}
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-4">
                        
                        {{ form_label(form.equipe2id, 'Deuxiéme Section', {'label_attr':{'class':'small mb-1' }}) }}                                  
                        <select onchange="handleSection2Change(this)" class="form-control">
                            <option value="-1">
                                Choisir une Section
                            </option>
                        {% for index,option in sections %}
                            <option value="{{ index }}" >
                                {{ option.nom }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.equipe2id, 'Deuxiéme Catégorie', {'label_attr':{'class':'small mb-1' }}) }}                                  
                        <select id="niveaux2" onchange="handleCategory2Change(this)" class="form-control">
                            <option value="-1">
                                Choisir une Categorie
                            </option>
                        {% for index,option in currentSection2.niveaux %}
                            <option value="{{ index }}" >
                                {{ option.nom }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.equipe2id, 'Deuxiéme Niveau', {'label_attr':{'class':'small mb-1' }}) }}                                  
                        {{ form_widget(form.equipe2id, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.equipeid) }}
                    </div>
                </div>
                {% if app.user.roles['ROLE_MASTER'] is defined %}
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.clubid, 'Club', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.clubid, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.clubid) }}
                    </div>
                </div>
                {% else %} 
                <div hidden>
                    {{ form_widget(form.clubid, {'attr':{'class':'form-control' }}) }}   
                </div>                              
                {% endif %} 
                <hr>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.Email, 'Email', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.Email, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.Email) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.ref, 'Référence', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.ref, {'attr':{'class':'form-control' }}) }}  
                    </div>                            
                    <div class="invalid-feedback">
                        {{ form_errors(form.ref) }}
                    </div>
                </div>
                {% if adherant.id is null or app.user.id == adherant.id or app.user.roles['ROLE_MASTER'] is defined %}
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">                                
                        {{ form_row(form.password.first, {'attr':{'required':'true' }})}}  
                        {{ form_row(form.password.second, {'attr':{'required':'true' }})}}  
                    </div>                            
                    <div class="invalid-feedback">
                        {{ form_errors(form.password) }}
                    </div>
                </div>
                {% else %}
                <div hidden>
                    {{ form_widget(form.password) }}
                </div>
                {% endif %}
                <div hidden >
                        {{ form_widget(form.createdat, {'attr':{'class':'form-control' }}) }}                               
                        {{ form_widget(form.updatedat, {'attr':{'class':'form-control' }}) }}                               
                        {{ form_widget(form.dossierMedicalId, {'attr':{'class':'form-control' }}) }}                                                          
                </div>
                <hr>

                <h6 onclick="toggleFormMenu('ficheParent1')">Nouvel Parent <i data-feather="chevron-right" id="ficheParent1-icon"> </i></h6>

                <div id="ficheParent1" class="formMenu">

                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            {{ form_label(form.supervisor_nom, 'Nom', {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor_nom, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor_nom) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.supervisor_prenom, 'Prénom', {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor_prenom, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor_prenom) }}
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            {{ form_label(form.supervisor_numTel, null, {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor_numTel, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor_numTel) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.supervisor_adresse, null, {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor_adresse, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor_adresse) }}
                        </div>
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            {{ form_label(form.supervisor_cin, null, {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor_cin, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor_cin) }}
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            {{ form_label(form.supervisor_Email, 'Email', {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor_Email, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor_Email) }}
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">   
                            {{ form_label(form.supervisor_ref, 'Référence', {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor_ref, {'attr':{'class':'form-control' }})}}  
                        </div>                            
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor_ref) }}
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            {{ form_widget(form.supervisor_password) }}  
                        </div>                            
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor_password) }}
                        </div>
                    </div>
                </div>
                <hr>
                <h6 onclick="toggleFormMenu('ficheParent2')">Nouvel Deuxiéme Parent <i data-feather="chevron-right" id="ficheParent2-icon"> </i></h6>

                <div id="ficheParent2" class="formMenu">
                    
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            {{ form_label(form.supervisor2_nom, 'Nom', {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor2_nom, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor2_nom) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.supervisor2_prenom, 'Prénom', {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor2_prenom, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor2_prenom) }}
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            {{ form_label(form.supervisor2_numTel, null, {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor2_numTel, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor2_numTel) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.supervisor2_adresse, null, {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor2_adresse, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor2_adresse) }}
                        </div>
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            {{ form_label(form.supervisor2_cin, null, {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor2_cin, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor2_cin) }}
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            {{ form_label(form.supervisor2_Email, 'Email', {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor2_Email, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor2_Email) }}
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">   
                            {{ form_label(form.supervisor2_ref, 'Référence', {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.supervisor2_ref, {'attr':{'class':'form-control' }})}}  
                        </div>                            
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor2_ref) }}
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            {{ form_widget(form.supervisor2_password) }}  
                        </div>                            
                        <div class="invalid-feedback">
                            {{ form_errors(form.supervisor2_password) }}
                        </div>
                    </div>
                </div>
                <hr>
                <button class="btn btn-outline-primary">
                        {{ button_label|default('Sauvegarder') }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>


<script>
function filePreview(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#adherant_image_imageFile_file").change(function () {
    filePreview(this);
});
</script>
