{% extends 'base.html.twig' %}

{% block title %}Adherant{% endblock %}

{% block content %}
<main>
        {% if app.user.roles['ROLE_MASTER'] is defined %}
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
    {% else %}
        <header class="page-header page-header-dark bg-gradient pb-10" style="background-color: {{ app.user.clubid.color }};">
        <img class="img-account-profile mb-2" src="{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}" alt="" style="float:right; margin-top: 1rem; margin-right: 1rem;" />
    {% endif %}
            <div class="container-xl px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="user-plus"></i></div>
                                Fiche Adhérant
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-4">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Image</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <img class="img-account-profile mb-2" src="{{ vich_uploader_asset(adherant, 'pictureFile') }}" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Fiche Adhérant
                        
                        </div>
                        <div class="card-body">

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-4">
                                    {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined  or adherant.supervisorid.id == app.user.id or adherant.id == app.user.id%}
                                    <a class="btn btn-outline-success" href="{{ path('app_payment_index_adherant',{'id' : adherant.id}) }}" style="display:block">Liste des Paiements</a>
                                    {% endif %} 
                                </div>
                                <div class="col-md-4">
                                    {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined or (app.user.roles['ROLE_SUPERVISOR'] is defined and adherant.supervisorid.id == app.user.id) or app.user.roles['ROLE_COACH'] is defined%}
                                    <a class="btn btn-outline-success" href="{{ path('app_note_index',{'id' : adherant.id}) }}" style="display:block">Liste des Notes</a>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined or (app.user.roles['ROLE_SUPERVISOR'] is defined and adherant.supervisorid.id == app.user.id) or app.user.roles['ROLE_DOCTOR'] is defined%}
                                    <a class="btn btn-outline-success" href="{{ path('app_dossiermedical_show',{'id' : adherant.dossiermedicalid.id}) }}" style="display:block">Dossier Medical</a>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Nom</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.nom }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Prenom</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.prenom }}</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Num Telephone</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.numTel }}</p>
                                    <hr>  
                                </div>
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Email</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.Email }}</p>
                                    <hr>  
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Date de Naissance</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.fBirthdate }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Lieu de Naissance</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.birthplace }}</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Ecole</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.ecole }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Niveau Scolaire</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.niveauScolaire }}</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Licence</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.licence }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Reférence</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.ref }}</p>
                                    <hr>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Equipe</h2>
                                    <a href="{{ path('app_equipe_show',{'id' : adherant.equipeid.id}) }}"> <p class=" mb-1" for="inputFirstName">{{ adherant.equipeid.nom }}</p> </a>
                                    <hr>  
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Sexe</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.sexe == "M" ? "Male" : "Female" }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Maladie</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.maladie ? adherant.maladie : "Aucune" }}</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Date de Création</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.createdat|date('d/m/Y')}}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Date de Modification</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ adherant.updatedat|date('d/m/Y') }}</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Club</h2>
                                    <a href="{{path('app_club_show',{'id' : adherant.clubid.id}) }}"> <p class=" mb-1" for="inputFirstName">{{ adherant.clubid }}</p></a>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Parent</h2>
                                    <a href="{{ path('app_supervisor_show',{'id' : adherant.supervisorId.id}) }}"> <p class=" mb-1" for="inputFirstName">{{ adherant.supervisorId }}</p> </a>
                                    <hr>
                                </div>
                            </div>
                            <hr>
                            {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined or adherant.supervisorid.id == app.user.id %}
                            <div class="col-12">
                                <a class="btn btn-outline-warning" href="{{ path('app_adherant_edit',{'id' : adherant.id}) }}" style="float:left">Modifier</a>
                                <a style="float:right">
                                    {{ include('adherant/_delete_form.html.twig') }}
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
