{% extends 'base.html.twig' %}

{% block title %}Adherant{% endblock %}

{% block body %}
    <h1>Adherant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adherant.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ adherant.createdat ? adherant.createdat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ adherant.updatedat ? adherant.updatedat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ adherant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ adherant.prenom }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ adherant.birthdate ? adherant.birthdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Birthplace</th>
                <td>{{ adherant.birthplace }}</td>
            </tr>
            <tr>
                <th>NiveauScolaire</th>
                <td>{{ adherant.niveauScolaire }}</td>
            </tr>
            <tr>
                <th>Ecole</th>
                <td>{{ adherant.ecole }}</td>
            </tr>
            <tr>
                <th>NumTel</th>
                <td>{{ adherant.numTel }}</td>
            </tr>
            <tr>
                <th>Licence</th>
                <td>{{ adherant.licence }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ adherant.sexe }}</td>
            </tr>
            <tr>
                <th>Maladie</th>
                <td>{{ adherant.maladie }}</td>
            </tr>
            <tr>
                <th>DossierMedicalId</th>
                <td>{{ adherant.dossierMedicalId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adherant_index') }}">back to list</a>

    <a href="{{ path('app_adherant_edit', {'id': adherant.id}) }}">edit</a>

    {{ include('adherant/_delete_form.html.twig') }}
{% endblock %}
