






{% extends 'base.html.twig' %}

{% block content %}
   <main>
        {% if app.user.roles['ROLE_MASTER'] is defined %}
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
    {% else %}
        <header class="page-header page-header-dark bg-gradient" style="background-color: {{ app.user.clubid.color }};">
                    <div class="col-lg-12 bg-gradient pb-10" style="background-color: {{ app.user.clubid.color2 }};flex:right">
                        <img class="img-account-profile mb-2" src="{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}" alt="" style="float:right; margin-top: 1rem; margin-right: 1rem;" />
                    </div>
    {% endif %}
                    <div class="col-lg-12" >
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon">
                                    <i data-feather="plus"></i>
                                </div>
                                Modifier Document                           
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-xl px-4 mt-4">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-xl-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            Document          
                        </div>
                        <div class="card-body text-center">
                            <div class="small font-italic text-muted mb-4">
                                No larger than 5 MB </br>                        
                                {% if document is defined %}
                                    <img src="{{ vich_uploader_asset(document, 'documentFile') }}" alt="DOCUMENT" class="img-thumbnail" width="200px" height="50%" id="image" />
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body text-center">
                            {{ form_widget(form.documentFile, {'attr':{'title':'','id':'file' }}) }}
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="card mb-4">
                        <div class="card-header">
                            Fiche Document                                            
                        </div>
                        <div class="card-body">
                        
                            <div class="row gx-3 mb-3">
                                <div class="col-md-12">
                                    {{ form_label(form.nom, 'Nom', {'label_attr':{'class':'small mb-1' }}) }}                                   
                                    {{ form_widget(form.nom, {'attr':{'class':'form-control' }}) }}                               
                                </div>
                                <div class="invalid-feedback">
                                    {{ form_errors(form.nom) }}
                                </div>
                            </div>
                            
                            <button class="btn btn-outline-primary">
                                    {{ button_label|default('Sauvegarder') }}
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
<script>
function filePreview(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#document_documentFile_file").change(function () {
    filePreview(this);
});
</script>
{% endblock %}
