{% extends 'base.html.twig' %}

{% block title %}Objective{% endblock %}

{% block content %}
<main>
        {% if app.user.roles['ROLE_MASTER'] is defined %}
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
    {% else %}
        <header class="page-header page-header-dark bg-gradient pb-10" style="background-color: {{ app.user.clubid.color }};">
        <img class="img-account-profile mb-2" src="{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}" alt="" style="float:right; margin-top: 1rem; margin-right: 1rem;" />
    {% endif %}
            <div class="container-xl px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="file-text"></i></div>
                                Dossier Medical
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-4">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Dossier Medical
                        {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined or app.user.roles['ROLE_DOCTOR'] is defined %}
                            <a class="btn btn-outline-success" href="{{ path('app_mesure_new',{'id' : dossiermedical.id}) }}" style="float:right">Ajouter Mesure</a>
                        {% endif %}
                        </div>
                        <div class="card-body">
                            <!-- Form Row-->
                            
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Adherant</h2>
                                    <p class=" mb-1" for="inputFirstName"><a href="{{ path('app_adherant_show',{'id' : dossiermedical.adherantid.id})}}">{{ dossiermedical.adherantid.nom }} {{ dossiermedical.adherantid.prenom }}</a> 
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Date de Création</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ dossiermedical.createdat|date('m/d/Y') }}</p>
                                    <hr>  
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Mesures</h2>
                                    <div id="bar-chart" ></div>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">IMC</h2>
                                    <div id="area-chart" ></div>
                                    <hr>  
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <h2 class="small mb-1" for="inputFirstName">Liste des Notes</h2>
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th width="10%">
                                                    Date de Création
                                                </th>
                                                <th width="45%">
                                                    Poids
                                                </th>
                                                <th width="45%">
                                                    Taille
                                                </th>
                                                <th width="45%">
                                                    IMC
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for  mesure in  dossiermedical.mesures %}
                                                <tr>
                                                    <td width="45%">
                                                    {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined or (app.user.roles['ROLE_SUPERVISOR'] is defined and mesure.dossiermedicalid.adherantid.supervisorid.id == app.user.id) or app.user.roles['ROLE_DOCTOR'] is defined%}
                                                        <a href="{{ path('app_mesure_show',{'id' : mesure.id})}}">{{ mesure.date|date('m/d/Y') }}</a>
                                                    {% else %}
                                                        {{ mesure.date|date('m/d/Y') }}
                                                    {% endif %}
                                                    </td>
                                                    <td width="45%">
                                                        {{ mesure.poids }} kg
                                                    <td width="45%">
                                                        {{ mesure.taille }} m
                                                    </td>
                                                    <td width="45%">
                                                        {{ mesure.imc|number_format(2) }}
                                                    </td>
                                                    
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="17">
                                                        aucune entrée
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined or app.user.roles['ROLE_DOCTOR'] is defined %}
                            <div class="col-12">
                                <a class="btn btn-outline-warning" href="{{ path('app_dossiermedical_edit',{'id' : dossiermedical.id}) }}" style="float:left">Modifier</a>
                                <a style="float:right">
                                    {{ include('dossiermedical/_delete_form.html.twig') }}
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}


{% block scripts %}

<script>
var data = [
    {% for mesure in dossiermedical.mesures|sort((a, b) => a.date <=> b.date) %}
        { y: '{{ mesure.date|date("Y-m-d") }}', a: 0, b: {{ mesure.imc }} },
    {% endfor %}
    ],
    config = {
        data: data,
        xkey: 'y',
        ykeys: [ 'b'],
        labels: [ 'IMC'],
        fillOpacity: 0.6,
        hideHover: 'auto',
        behaveLikeLine: true,
        resize: true,
        pointFillColors:['#ffffff'],
        pointStrokeColors: ['black'],
        lineColors:['{{ dossiermedical.adherantid.clubid.color }}']
    };
    config.element = 'area-chart';
    Morris.Area(config);

    data = [
    {% for mesure in dossiermedical.mesures|sort((a, b) => a.date <=> b.date) %}
        { y: '{{ mesure.date|date("Y-m-d") }}', a: {{ mesure.taille }}*100, b: {{ mesure.poids }} },
    {% endfor %}
    ],
    config = {
        data: data,
        xkey: 'y',
        ykeys: [ 'a','b'],
        labels: [ 'Tailler (cm)','Poids (kg)'],
        fillOpacity: 0.6,
        hideHover: 'auto',
        behaveLikeLine: true,
        resize: true,
        pointFillColors:['#ffffff'],
        pointStrokeColors: ['black'],
        lineColors:['{{ dossiermedical.adherantid.clubid.color }}','{{ dossiermedical.adherantid.clubid.color }}']
    };

    config.element = 'bar-chart';
    Morris.Bar(config);
</script>

{% endblock %}
