{% extends 'base.html.twig' %}

{% block title %}Objective{% endblock %}

{% block content %}
<main>
        {% if app.user.roles['ROLE_MASTER'] is defined %}
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
    {% else %}
        <header class="page-header page-header-dark bg-gradient" style="background-color: {{ app.user.clubid.color }};">
                    <div class="col-lg-12 bg-gradient pb-10" style="background-color: {{ app.user.clubid.color2 }};flex:right">
                        <img class="img-account-profile mb-2" src="{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}" alt="" style="float:right; margin-top: 1rem; margin-right: 1rem;" />
                    </div>
    {% endif %}
                    <div class="col-lg-12" >
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="book"></i></div>
                                Dossier Medical
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-4">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Dossier Medical
                        </div>
                        <div class="card-body">
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                {% if app.user.roles['app_mesure_new'] is defined or app.user.roles['ROLE_MASTER'] is defined or app.user.roles['ROLE_DOCTOR'] is defined %}
                                <div class="col-md-6">
                                    <a class="btn btn-outline-success" href="{{ path('app_mesure_new',{'id' : dossiermedical.id}) }}" style="display:block">Ajouter Mesure</a>
                                </div>
                                {% endif %}
                                {% if app.user.roles['app_dossiermedical_edit'] is defined or app.user.roles['ROLE_MASTER'] is defined or app.user.roles['ROLE_DOCTOR'] is defined %}
                                <div class="col-md-6">
                                    <a class="btn btn-outline-success" href="{{ path('app_dossiermedical_document_new',{'id' : dossiermedical.id}) }}" style="display:block">Ajouter Document</a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Adhérent</h2>
                                    <p class=" mb-1" for="inputFirstName"><a href="{{ path('app_adherant_show',{'id' : dossiermedical.adherantid.id})}}">{{ dossiermedical.adherantid.nom }} {{ dossiermedical.adherantid.prenom }}</a> 
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Date de Création</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ dossiermedical.createdat|date('d/m/Y') }}</p>
                                    <hr>  
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Mesures</h2>
                                    <div id="bar-chart" ></div>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">IMC</h2>
                                    <div id="area-chart" ></div>
                                    <hr>  
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <h2 class="small mb-1" for="inputFirstName">Liste des Mésures</h2>
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th width="10%">
                                                    Date de Création
                                                </th>
                                                <th width="45%">
                                                    Poids
                                                </th>
                                                <th width="45%">
                                                    Taille
                                                </th>
                                                <th width="45%">
                                                    IMC
                                                </th>
                                                <th width="45%">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                            {% for  mesure in  dossiermedical.mesures|sort((a, b) => b.date <=> a.date) %}
                                                <tr>
                                                    <td width="45%">
                                                    {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined or (app.user.roles['ROLE_SUPERVISOR'] is defined and mesure.dossiermedicalid.adherantid.supervisorid.id == app.user.id) or app.user.roles['ROLE_DOCTOR'] is defined%}
                                                        <a href="{{ path('app_mesure_show',{'id' : mesure.id})}}">{{ mesure.date|date('d/m/Y') }}</a>
                                                    {% else %}
                                                        {{ mesure.date|date('d/m/Y') }}
                                                    {% endif %}
                                                    </td>
                                                    <td width="45%">
                                                        {{ mesure.poids }} kg
                                                    <td width="45%">
                                                        {{ mesure.taille }} m
                                                    </td>
                                                    <td width="45%">
                                                        {{ mesure.imc|number_format(2) }}
                                                    </td>
                                                    <td width="45%">
                                                    {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined %}
                                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('app_mesure_edit', {'id': mesure.id}) }}">
                                                            <i class="fa-solid fa-pen-to-square" style="color:orange"></i>
                                                        </a>
                                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                                            {{ include('mesure/_delete_form.html.twig') }}
                                                        </a>
                                                    {% endif %}
                                                    </td>
                                                    
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="17">
                                                        aucune entrée
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <h2 class="small mb-1" for="inputFirstName">Liste des Documents</h2>
                                    <table id="">
                                        <thead>
                                            <tr>
                                                <tr>
                                                    <th width="40%">Nom</th>
                                                    <th width="55%">Date de Création</th>
                                                    <th width="80%"></th>
                                                </tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for document in dossiermedical.documents %}
                                                <tr>
                                                    <td><a href="{{ vich_uploader_asset(document, 'documentFile') }}" target="_blank">{{ document.nom }}</a></td>
                                                    <td>{{ document.createdat|date('d/m/Y') }}</td>
                                                    <td>
                                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('app_dossiermedical_document_delete', {'id': document.id}) }}">
                                                            <i class="fa-solid fa-pen-to-square" style="color:orange"></i>
                                                        </a>
                                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                                            {{ include('dossiermedical/_delete_document_form.html.twig') }}
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <td colspan="9">no records found</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>




                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}


{% block scripts %}

<script>
var data = [
    {% for mesure in dossiermedical.mesures|sort((a, b) => a.date <=> b.date) %}
        { y: '{{ mesure.date|date("Y-m-d") }}', a: 0, b: {{ mesure.imc }} },
    {% endfor %}
    ],
    config = {
        data: data,
        xkey: 'y',
        ykeys: [ 'b'],
        labels: [ 'IMC'],
        fillOpacity: 0.6,
        hideHover: 'auto',
        behaveLikeLine: true,
        resize: true,
        pointFillColors:['#ffffff'],
        pointStrokeColors: ['black'],
        lineColors:['{{ dossiermedical.adherantid.clubid.color }}']
    };
    config.element = 'area-chart';
    Morris.Area(config);

    data = [
    {% for mesure in dossiermedical.mesures|sort((a, b) => a.date <=> b.date) %}
        { y: '{{ mesure.date|date("Y-m-d") }}', a: {{ mesure.taille }}*100, b: {{ mesure.poids }} },
    {% endfor %}
    ],
    config = {
        data: data,
        xkey: 'y',
        ykeys: [ 'a','b'],
        labels: [ 'Tailler (cm)','Poids (kg)'],
        fillOpacity: 0.6,
        hideHover: 'auto',
        behaveLikeLine: true,
        resize: true,
        pointFillColors:['#ffffff'],
        pointStrokeColors: ['black'],
        lineColors:['{{ dossiermedical.adherantid.clubid.color }}','{{ dossiermedical.adherantid.clubid.color }}']
    };

    config.element = 'bar-chart';
    Morris.Bar(config);
</script>

{% endblock %}
