{% extends 'base.html.twig' %}

{% block title %}Adherant{% endblock %}

{% block content %}
<main>
        {% if app.user.roles['ROLE_MASTER'] is defined %}
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
    {% else %}
        <header class="page-header page-header-dark bg-gradient pb-10" style="background-color: {{ app.user.clubid.color }};">
        <img class="img-account-profile mb-2" src="{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}" alt="" style="float:right; margin-top: 1rem; margin-right: 1rem;" />
    {% endif %}
            <div class="container-xl px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="user-plus"></i></div>
                                Fiche Section
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-4">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Fiche Section
                        
                        </div>
                        <div class="card-body">
                            <!-- Form Row-->
                            
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    {% if app.user.roles['ROLE_ADMIN'] %}
                                    <a class="btn btn-outline-success" href="{{ path('app_niveau_new',{'id' : section.id}) }}" style="display:block">Ajouter Niveau</a>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <a class="btn btn-outline-success" href="{{ path('app_blog_index',{'id' : section.id}) }}" style="display:block">Liste des Blogs</a>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-4">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Nom</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ section.nom }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-4">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Date de Creation</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ section.fCreatedat }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-4">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Club</h2>
                                    <p class=" mb-1" for="inputFirstName"><a href="{{ path('app_club_show',{'id' : section.clubid.id})}}">{{ section.clubid.nom }}</a> 
                                    <hr>  
                                </div>
                            </div>
                            
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Description</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ section.description|raw }}</p>
                                    <hr> 
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-8">
                                    <h2 class="small mb-1" for="inputFirstName">Liste des Niveaux</h2>
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th width="10%">
                                                    #
                                                </th>
                                                <th width="45%">
                                                    Nom
                                                </th>
                                                <th width="45%">
                                                    Date de Création
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for  niveau in  section.niveaux %}
                                                <tr>
                                                    <td width="45%">
                                                        {{  niveau.id }}
                                                    </td>
                                                    <td width="45%">
                                                        <a href="{{ path('app_niveau_show',{'id' : niveau.id})}}">{{ niveau.nom }}</a>
                                                    </td>
                                                    <td width="45%">
                                                        {{ niveau.fCreatedat }}
                                                    </td>

                                        
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="17">
                                                        aucune entrée
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <div class="main-card mb-3 card">
                                    <div class="card-body">
                                        <h5 class="card-title">Catégories</h5>
                                        <div id="pie-chart" ></div>
                                    </div>
                                </div>
                            </div>
                            {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined %}
                            <div class="row">
                                <div class="col-6">
                                    <a class="btn btn-outline-warning" href="{{ path('app_section_edit',{'id' : section.id}) }}" style="float:left">Modifier</a>                            
                                </div>
                                <div class="col-6">
                                    <a style="float:right">
                                        {{ include('section/_delete_form.html.twig') }}
                                    </a>  
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



</script>
{% endblock %}
{% block scripts %}
<script>

Morris.Donut({
  element: 'pie-chart',
  data: [
    {% for niveau in section.niveaux %}
        
                {label: "{{ niveau.nom }}", value: {% for equipe in niveau.equipes %} 
                {{ equipe.adherants|length }}+ 
                {% endfor %}0
                
                },
    {% endfor %}
  ]
});
</script>
{% endblock %}