{% extends 'base_front.html.twig' %}
{% block title %}
{{ blog.title }} 
{% endblock %}
{% block style %}
<style>
    .edit {
    border: 2px solid #40c4ff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    background: white;
    color: #40c4ff;
    }
    .edit:hover {
    background: #40c4ff;
    color: white;
    }
    .edit:focus {
    outline: none;
    }
</style>
{% endblock %}
{% block content %}


    
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <img src="{{ vich_uploader_asset(blog.clubid, 'logoFile') }}" style="height:6em;">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="menu">
                            <ul>
                            {% for stn in sections %}
                                <li {% if stn.id == blog.sectionid.id %}class="active"{% endif %}><a href="{{ path('app_blog_front_list',{'id' : stn.id})}}">{{ stn.nom }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <hr>
        <section class="bg-text-area">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </section>
        <section class="blog-post-area">
            <div class="container">
                <div class="row">
                    <div class="blog-post-area-style">
                        
                        <div class="col-md-12" style="
                            text-align:center;
                        ">
                            
                            <h3 style="
                            font-family: Geometria;
                            font-weight: 700;
                            font-size: 40px;
                            color: #061e37;
                            ">
                                {{blog.title}}
                                {% if app.user.roles['ROLE_ADMIN'] is defined and app.user.clubid == blog.clubid %}
                                <a  class="btn-outline edit" href="{{ path('app_blog_edit',{'id' : blog.id}) }}" style="float:right">
                                    Modifier
                                </a>                        
                                {% endif %}
                            </h3>
                            <hr>
                        </div>
                        <div class="col-md-12">
                            <img src="{{ vich_uploader_asset(blog, 'coverFile') }}">
                            <hr>
                        </div>
                        <div class="col-md-12">
                            <div class="post">
                                <h4><span class="date">
                                <p>{{ blog.content|raw }}</p>
                                </span></h4>
                                <hr>
                                {% if blog.video is not null %} 
                                <iframe style="width:75em;height:40em;"
                                src="{{ blog.video }}"
                                allowfullscreen>
                                </iframe> 
                                {% endif %}  
                                <h4><span class="author">
                                {% if blog.createdat == blog.updatedat %}
                                Publié le <span clas="author-name">{{ blog.createdat|date('d M Y') }}</span>
                                {% else %} 
                                Modifié le <span clas="author-name">{{ blog.updatedat|date('d M Y') }}</span>
                                {% endif %}
                                </span>
                                </h4>
                                
                                
                                
                            </div>
                        </div> 
                        <div class="col-md-12">
                            <div class="single-post">
                                <hr>
                                <h3><a href="#">Publications Similaires</a></h3>
                                <hr>
                            </div>
                        </div>
                        {% for blg in blogs %}
                        {% if blg.isVisible %}
                        {% if blg.id != blog.id %}
                        <div class="col-md-3">
                            <div class="single-post">
                                <img src="{{ vich_uploader_asset(blg, 'coverFile') }}" alt="" style="width:16em;height:10em;">
                                <h3><a href="{{ path('app_blog_front',{'id':blg.id})}}">{{ blg.title }}</a></h3>
                                <h4><span>
                                {% if blg.createdat == blg.updatedat %}
                                    {{ blg.createdat|date('d M Y') }}
                                {% else %} 
                                    {{ blg.updatedat|date('d M Y') }}
                                {% endif %}
                                </span></h4>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}