{{ form_start(form) }}
<div class="row">
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">
                Fiche Teste                                            
            </div>
            <div class="card-body">
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.adherantid, 'Adherant', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.adherantid, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.adherantid) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.objectifid, 'Objective', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.objectifid, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.objectifid) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.note, 'Note (%)', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.note, {'attr':{'class':'form-control','min' : 0,'max':100 }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.note) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.observation, 'Observation', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.observation, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.observation) }}
                    </div>
                </div>
                
                <button class="btn btn-outline-primary">
                        {{ button_label|default('Sauvegarder') }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
