{% extends "base.html.twig" %}
{% block content %}
    <main>
        {% if app.user.roles['ROLE_MASTER'] is defined %}
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
    {% else %}
        <header class="page-header page-header-dark bg-gradient pb-10" style="background-color: {{ app.user.clubid.color }};">
        <img class="img-account-profile mb-2" src="{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}" alt="" style="float:right; margin-top: 1rem; margin-right: 1rem;" />
    {% endif %}
            <div class="container-fluid px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon">
                                    <i data-feather="user"></i>
                                </div>
                                Liste des Notes                        
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-fluid px-4">
            <div class="card">
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <tr>
                                    <th>Date de Création</th>
                                    <th>Adherant</th>
                                    <th>Objective</th>
                                    <th>Note</th>
                                    <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in notes %}
                                <tr>
                                    <td width="45%">
                                        {{  note.createdat|date('m/d/Y') }}
                                    </td>
                                    <td width="45%">
                                        <a href="{{ path('app_adherant_show',{'id' : note.adherantid.id})}}">{{ note.adherantid.nom }} {{ note.adherantid.prenom }}</a>                                                    </td>
                                    <td width="45%">
                                        <a href="{{ path('app_objectif_show',{'id' : note.objectifid.id})}}">{{ note.objectifid.nom }}</a>                                                    </td>
                                    </td>
                                    <td width="45%">
                                        {{ note.note }}%
                                    </td>
                                    <td>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('app_note_show', {'id': note.id}) }}">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined or (app.user.roles['ROLE_COACH'] is defined and note.coachid.id == app.user.id) %}
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('app_note_edit', {'id': note.id}) }}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                            {{ include('note/_delete_form.html.twig') }}
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="9">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
