{% extends "base.html.twig" %}
{% block content %}
    <main>
        {% if app.user.roles['ROLE_MASTER'] is defined %}
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
    {% else %}
        <header class="page-header page-header-dark bg-gradient pb-10" style="background-color: {{ app.user.clubid.color }};">
        <img class="img-account-profile mb-2" src="{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}" alt="" style="float:right; margin-top: 1rem; margin-right: 1rem;" />
    {% endif %}
            <div class="container-fluid px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon">
                                    <i data-feather="dollar-sign"></i>
                                </div>
                                Liste des Decaissements                        
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-fluid px-4">
            <div class="row">
                {% set sum = 0 %}
                {% for decaissement in decaissements|filter(v => v.status == 'Payé') %}
                    {% set sum = sum + decaissement.total %}
                {% endfor %}
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                <i class="icon-graph primary font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                <h3>{{ sum }} DT</h3>
                                <span>Payés ({{ decaissements|filter(v => v.status == 'Payé')|length}})</span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% set sum = 0 %}
                {% for decaissement in decaissements|filter(v => v.status == 'En Cours') %}
                    {% set sum = sum + decaissement.total %}
                {% endfor %}
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                <i class="icon-graph warning font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                <h3>{{ sum }} DT</h3>
                                <span>En Cours ({{ decaissements|filter(v => v.status == 'En Cours')|length}})</span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% set sum = 0 %}
                {% for decaissement in decaissements|filter(v => v.status == 'Réfusé') %}
                    {% set sum = sum + decaissement.total %}
                {% endfor %}
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                <i class="icon-graph danger font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                <h3>{{ sum }} DT</h3>
                                <span>Réfusés ({{ decaissements|filter(v => v.status == 'Réfusé')|length}})</span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% set sum = 0 %}
                {% for decaissement in decaissements|filter(v => v.status == 'Annulé') %}
                    {% set sum = sum + decaissement.total %}
                {% endfor %}
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                <i class="icon-graph gray font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                <h3>{{ sum }} DT</h3>
                                <span>Annulés ({{ decaissements|filter(v => v.status == 'Annulé')|length}})</span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
            {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined %}
                <div class="col-12 col-xl-auto mb-3" >
                    <a class="btn btn-sm btn-light text-primary" href="{{ adherant is defined ? path('app_decaissement_new_adherant',{'id' : adherant.id}) : path('app_decaissement_new') }}" style="float:right">
                        <i class="me-1" data-feather="plus"></i>
                        Ajouter Decaissement                                                                              
                    </a>
                </div>
            {% endif %}
                <div class="card-body">
                    <hr>  
                    <form method="GET">
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-4">
                            <h2 class="small mb-1" for="inputFirstName">Début</h2>
                            <input class="form-control" type="date" name="from" required {% if GET['from'] is defined and GET['from'] is not null %} value="{{ GET['from'] |date('Y-m-d') }}" {% endif %}></input>
                        </div>
                        <div class="col-md-4">
                            <h2 class="small mb-1" for="inputFirstName">Fin</h2>
                            <input class="form-control" type="date" name="to" required {% if GET['to'] is defined and GET['to'] is not null %} value="{{ GET['to'] |date('Y-m-d') }}" {% endif %}></input>
                        </div>
                        <div class="col-md-4">
                            <br>
                            <button class="btn btn-outline-success" type="submit" style="display:block">Filter</button>
                        </div>
                    </div>
                    </form>
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-12">
                            <hr>
                            <h2 class="small mb-1" for="inputFirstName">Decaissements</h2>
                            <div id="area-chart" ></div>
                            <hr>  
                        </div>
                    </div>
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Reférence</th>
                                    <th>Etat</th>
                                    <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody>
                            {% for decaissement in decaissements %}
                                <tr>
                                    <td>{{ decaissement.id }}</td>
                                    <td>{{ decaissement.date|date('d/m/Y') }}</td>
                                    <td>{{ decaissement.ref }}</td>
                                    <td>{{ decaissement.status }}</td>
                                    <td>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('app_decaissement_show', {'id': decaissement.id}) }}">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined %}
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('app_decaissement_edit', {'id': decaissement.id}) }}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                            {{ include('decaissement/_delete_form.html.twig') }}
                                        </a>
                                        {% endif %}                                         
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="9">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}

<script>
var data = [
    {% set sumA = 0 %}
    {% set sumB = 0 %}
    {% set sumC = 0 %}
    {% set sumD = 0 %}
    {% for date,pymnt in pymnts|sort((a, b) => a[0].date <=> b[0].date) %}
        {% for decaissement in pymnt %}
            {% if decaissement.status == "Payé" %}
                {% set sumA = sumA + decaissement.total %}
            {% elseif decaissement.status == "En Cours" %} 
                {% set sumB = sumB + decaissement.total %}
            {% elseif decaissement.status == "Réfusé" %} 
                {% set sumC = sumC + decaissement.total %}
            {% elseif decaissement.status == "Annulé" %} 
                {% set sumD = sumD + decaissement.total %}
            {% endif %}
        {% endfor %}
        { y: '{{ date|date("Y-m-d") }}', a: {{ sumA }}, b: {{ sumB }}, c: {{ sumC }}, d: {{ sumD }} },
    {% endfor %}
    ],
    config = {
        data: data,
        xkey: 'y',
        ykeys: [ 'a', 'b', 'c', 'd'],
        labels: [ 'Payé','En Cours', 'Réfusé', 'Annulé'],
        fillOpacity: 0.6,
        hideHover: 'auto',
        behaveLikeLine: true,
        resize: true,
        pointFillColors:['#ffffff'],
        pointStrokeColors: ['black'],
        lineColors:['green','orange','red','gray']
    };
    config.element = 'area-chart';
    Morris.Line(config);
</script>

{% endblock %}
