{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}
<main>
        {% if app.user.roles['ROLE_MASTER'] is defined %}
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
    {% else %}
        <header class="page-header page-header-dark bg-gradient" style="background-color: {{ app.user.clubid.color }};">
                    <div class="col-lg-12 bg-gradient pb-10" style="background-color: {{ app.user.clubid.color2 }};flex:right">
                        <img class="img-account-profile mb-2" src="{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}" alt="" style="float:right; margin-top: 1rem; margin-right: 1rem;" />
                    </div>
    {% endif %}
                    <div class="col-lg-12" >
                        <div class="page-header-content">
                            <div class="row align-items-center justify-content-between pt-3">
                                <div class="col-auto mb-3">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"><i data-feather="bookmark"></i></div>
                                        {{ club.nom }}
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-4">
        {% if app.user.roles['ROLE_ADMIN'] or app.user.roles['ROLE_DOCTOR'] or app.user.roles['ROLE_COACH']  %}
            <div class="row"style="margin-bottom:25px;">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-right">
                                        <li class="nav-item dropdown no-caret d-sm-block me-3 dropdown-notifications">
                                            <a class="btn btn-transparent-dark dropdown-toggle" id="navbarDropdownStat1" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="me-2" data-feather="percent" style="color: {{ app.user.clubid.color }}"></i>
                                                <span style="color: {{ app.user.clubid.color }}">Taux de Présence</span>                      
                                            </a>
                                            <div class="dropdown-menu border-0 shadow animated--fade-in-up"  aria-labelledby="navbarDropdownStat1">

                                                {% for sctn in sections %}
                                                
                                                <a class="nav-link {% if section.id is defined and sctn.id == section.id %}
                                                active" style="border-bottom: 4px solid {{ app.user.clubid.color }};margin:0.5em;
                                                {% else %} " style="border-bottom: 1px solid grey;margin:0.5em;
                                                {% endif %}"  
                                                href="{{ path('app_section_show',{'id':sctn.id})}}">
                                                    <div class="dropdown-notifications-item-content">
                                                        <div class="dropdown-notifications-item-content-details">
                                                            <i class="me-2"><img src="{{ vich_uploader_asset(sctn, 'logoFile') }}" width="30px" hight="30px"/></i>
                                                            <h3 style="float:right">{{ PRESENCE[sctn.id]|number_format(2)}}%</h3>
                                                        </div>
                                                    </div>
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-right">
                                        <li class="nav-item dropdown no-caret d-sm-block me-3 dropdown-notifications" >
                                            <a class="btn btn-transparent-dark dropdown-toggle" id="navbarDropdownStat2" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                                <i class="me-2" data-feather="percent" style="color: {{ app.user.clubid.color }}"></i>
                                                <span style="color: {{ app.user.clubid.color }}">Pérformance </span>                      
                                            </a>
                                            <div class="dropdown-menu border-0 shadow animated--fade-in-up"  aria-labelledby="navbarDropdownStat2">
                                                {% for sctn in sections %}
                                                
                                                <a class="nav-link {% if section.id is defined and sctn.id == section.id %}
                                                active" style="border-bottom: 4px solid {{ app.user.clubid.color }};margin:0.5em;
                                                {% else %} " style="border-bottom: 1px solid grey;margin:0.5em;
                                                {% endif %}"  
                                                href="{{ path('app_section_show',{'id':sctn.id})}}">
                                                    <div class="dropdown-notifications-item-content">
                                                        <div class="dropdown-notifications-item-content-details">
                                                            <i class="me-2"><img src="{{ vich_uploader_asset(sctn, 'logoFile') }}" width="30px" hight="30px"/></i>
                                                            <h3 style="float:right">{{ TESTES[sctn.id] != 'N/A' ? TESTES[sctn.id]|number_format(2)~'%' : 'N/A' }}</h3>
                                                        </div>
                                                    </div>
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-right">
                                        <li class="nav-item dropdown no-caret d-sm-block me-3 dropdown-notifications">
                                            <a class="btn btn-transparent-dark dropdown-toggle" id="navbarDropdownStat3" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="me-2" data-feather="percent" style="color: {{ app.user.clubid.color }}"></i>
                                                <span style="color: {{ app.user.clubid.color }}">IMC Moyenne</span>                      
                                            </a>
                                            <div class="dropdown-menu border-0 shadow animated--fade-in-up"  aria-labelledby="navbarDropdownStat3">
                                                {% for sctn in sections %}
                                                
                                                <a class="nav-link {% if section.id is defined and sctn.id == section.id %}
                                                active" style="border-bottom: 4px solid {{ app.user.clubid.color }};margin:0.5em;
                                                {% else %} " style="border-bottom: 1px solid grey;margin:0.5em;
                                                {% endif %}"  
                                                href="{{ path('app_section_show',{'id':sctn.id})}}">
                                                    <div class="dropdown-notifications-item-content">
                                                        <div class="dropdown-notifications-item-content-details">
                                                            <i class="me-2"><img src="{{ vich_uploader_asset(sctn, 'logoFile') }}" width="30px" hight="30px"/></i>
                                                            <h3 style="float:right">{{ IMC[sctn.id] != 'N/A' ? IMC[sctn.id]|number_format(2) : 'N/A' }}</h3>
                                                        </div>
                                                    </div>
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-right">
                                        <li class="nav-item dropdown no-caret d-sm-block me-3 dropdown-notifications">
                                            <a class="btn btn-transparent-dark dropdown-toggle" id="navbarDropdownStat4" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="me-2" data-feather="percent" style="color: {{ app.user.clubid.color }}"></i>
                                                <span style="color: {{ app.user.clubid.color }}">Proportion par sexe</span>                      
                                            </a>
                                            <div class="dropdown-menu border-0 shadow animated--fade-in-up"  aria-labelledby="navbarDropdownStat4">
                                                {% for sctn in sections %}
                                                
                                                <a class="nav-link {% if section.id is defined and sctn.id == section.id %}
                                                active" style="border-bottom: 4px solid {{ app.user.clubid.color }};margin:0.5em;
                                                {% else %} " style="border-bottom: 1px solid grey;margin:0.5em;
                                                {% endif %}"  
                                                href="{{ path('app_section_show',{'id':sctn.id})}}">
                                                    <div class="dropdown-notifications-item-content">
                                                        <div class="dropdown-notifications-item-content-details">
                                                            <i class="me-2"><img src="{{ vich_uploader_asset(sctn, 'logoFile') }}" width="30px" hight="30px"/></i>
                                                            <h3 style="float:right">
                                                            {% if M[sctn.id]|length != 0 and F[sctn.id]|length != 0 %}
                                                            {% set base = F[sctn.id]|length + M[sctn.id]|length %} 
                                                            {% set ratM = M[sctn.id]|length %}
                                                            {% set ratF = F[sctn.id]|length %}
                                                            {{ (ratM / base  )|number_format(3) * 100 }}% <i class="fa-solid fa-mars"></i> | {{  (ratF / base )|number_format(3) * 100 }}% <i class="fa-solid fa-venus"></i>
                                                            {% else %}
                                                            N/A
                                                            {% endif %}
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>
        {% endif %}
            <div class="row">
                <div class="col-xl-4">
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Logo</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <img class="img-account-profile mb-2" src="{{ vich_uploader_asset(club, 'logoFile') }}" alt="" />
                        </div>
                        <hr>
                        <div class="card-body text-center">
                            <h2 class="small mb-1" for="inputFirstName">Couleur Primaire</h2>
                            <p class=" mb-1" for="inputFirstName">{{ club.color }} <i style="background-color:{{ club.color }};color:{{ club.color }}; border:1px solid grey; border-radius: 3px;" width="10px" height="10px" data-feather="square"></i></p>
                            
                        </div>
                        <div class="card-body text-center">
                            <h2 class="small mb-1" for="inputFirstName">Couleur Secondaire</h2>
                            <p class=" mb-1" for="inputFirstName">{{ club.color2 }} <i style="background-color:{{ club.color2 }};color:{{ club.color2 }};border:1px solid grey; border-radius: 3px;" width="10px" height="10px" data-feather="square"></i></p>
                        </div>
                        {% if app.user.roles['ROLE_ADMIN'] is defined %}
                        <hr>
                        <div class="card-body text-center">
                            <a class="btn btn-outline-success" href="{{ path('app_administrateur_gram') }}">Organigramme</a>
                        </div>
                        {% endif %}
                        
                    </div>

                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Fiche Club
                        {% if app.user.roles['ROLE_ADMIN'] is defined %}
                            <a class="btn btn-outline-success" href="{{ path('app_section_new',{'id' : club.id}) }}" style="float:right">Ajouter Section</a>
                        {% endif %}
                        </div>
                        <div class="card-body">
                            <!-- Form Row-->
                            
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Nom</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ club.nom }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Date de Fondation</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ club.fDateFondation }}</p>
                                    <hr>  
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Address</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ club.adresse }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Telephone</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ club.numTel }}</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <h2 class="small mb-1" for="inputFirstName">Liste des Adhérants</h2>
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th width="45%">
                                                    #
                                                </th>
                                                <th width="45%">
                                                    Nom
                                                </th>
                                                <th width="45%">
                                                    Date de Création
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for  section in  club.sections %}
                                                <tr>
                                                    <td width="45%">
                                                        {{  section.id }}
                                                    </td>
                                                    <td width="45%">
                                                        <a href="{{ path('app_section_show',{'id' : section.id})}}">{{ section.nom }}</a>
                                                    </td>
                                                    <td width="45%">
                                                        {{ section.createdat | date('d/m/Y') }}
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="17">
                                                        aucune entrée
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined %}
                                <div class="row">
                                    <div class="col-6">
                                        <a class="btn btn-outline-warning" href="{{ path('app_club_edit',{'id' : club.id}) }}" style="float:left">Modifier</a>                            
                                    </div>
                                    <div class="col-6">
                                        <a style="float:right">
                                            {{ include('club/_delete_form.html.twig') }}
                                        </a>  
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
