<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
    <!-- Sidenav Toggle Button-->
    <button class="btn btn-icon btn-transparent-dark  order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle">
        <i data-feather="menu"></i>
    </button>
    <!-- Navbar Brand-->
    <!-- * * Tip * * You can use text or an image for your navbar brand.-->
    <!-- * * * * * * When using an image, we recommend the SVG format.-->
    <!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
        <a class="navbar-brand pe-3 ps-4 ps-lg-2 d-none d-lg-block" href="#"> <b>ALL</b><span style="color:rgb(130,130,130)">in</span><b>ONE</b>
        </a>
    <!-- Navbar Search Input-->
    <!-- * * Note: * * Visible only on and above the lg breakpoint-->
    
    <!-- Navbar Items-->
    <ul class="navbar-nav align-items-center ms-auto">
        <!-- Documentation Dropdown-->
        <!-- Navbar Search Dropdown-->
        <!-- * * Note: * * Visible only below the lg breakpoint-->
        
        <!-- Alerts Dropdown-->
        {% if app.user.roles['ROLE_MASTER'] is not defined %}

        <li class="nav-item">
        <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="#" >
            <div  id="google_translate_element"></div>
        </a>
        </li>
        <li class="nav-item dropdown no-caret d-sm-block me-3 dropdown-notifications" style="margin-left:5px;">
            <a class="btn btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="me-2" data-feather="grid" style="color: {{ app.user.clubid.color }}"></i>
                <span style="color: {{ app.user.clubid.color }}"> Sections </span>                      
            </a>
            <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"  aria-labelledby="navbarDropdownAlerts">
                <h6 class="dropdown-header dropdown-notifications-header" style="background-color: white;">
                    <i class="me-2" data-feather="grid" style="color:{{ app.user.clubid.color }}"></i>
                    <span style="color: {{ app.user.clubid.color }}">Sections </span>   
                </h6>
                <!-- Example Alert 1-->

                    {% for sctn in sections %}
                    
                    <a class="nav-link {% if section.id is defined and sctn.id == section.id %}
                    active" style="border-bottom: 4px solid {{ app.user.clubid.color }};margin:0.5em;
                    {% else %} " style="border-bottom: 1px solid grey;margin:0.5em;
                    {% endif %}"  
                    href="{{ path('app_section_show',{'id':sctn.id})}}">
                        <div class="dropdown-notifications-item-content">
                            <div class="dropdown-notifications-item-content-details">
                                <i class="me-2"><img src="{{ vich_uploader_asset(sctn, 'logoFile') }}" width="20px" hight="20px"/></i>
                                {{sctn.nom}}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
            </div>
        </li>
        {% endif %}
        <!-- User Dropdown-->
        <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-fluid" src="{% if app.user.clubid is not null %}{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}{% else %}{{asset('back-office/assets/img/illustrations/profiles/profile-1.png') }}{% endif %}" />
            </a>
            <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                <h6 class="dropdown-header d-flex align-items-center">
                    <img class="dropdown-user-img" src="{% if app.user.clubid is not null %}{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}{% else %}{{asset('back-office/assets/img/illustrations/profiles/profile-1.png') }}{% endif %}" />
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">
                            {{ app.user.nom}} {{ app.user.prenom}}
                        </div>
                        <div class="dropdown-user-details-email">
                            {% if app.user.roles['ROLE_MASTER'] is defined %}
                            Master
                            {% elseif app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined %}
                            Administrateur
                            {% elseif app.user.roles['ROLE_ADHERANT'] is defined %}
                            Adhérent
                            {% elseif app.user.roles['ROLE_COACH'] is defined %}
                            Entaîneur
                            {% elseif app.user.roles['ROLE_DOCTOR'] is defined %}
                            Docteur
                            {% elseif app.user.roles['ROLE_SUPERVISOR'] is defined %}
                            Parent
                            {% endif %}
                        </div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="
                {% if app.user.roles['ROLE_MASTER'] is defined %}
                {{ path('app_master_show',{'id' : app.user.id}) }}
                {% elseif app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined %}
                {{ path('app_administrateur_show',{'id' : app.user.id}) }}
                {% elseif app.user.roles['ROLE_ADHERANT'] is defined %}
                {{ path('app_adherant_show',{'id' : app.user.id}) }}
                {% elseif app.user.roles['ROLE_COACH'] is defined %}
                {{ path('app_coach_show',{'id' : app.user.id}) }}
                {% elseif app.user.roles['ROLE_DOCTOR'] is defined %}
                {{ path('app_doctor_show',{'id' : app.user.id}) }}
                {% elseif app.user.roles['ROLE_SUPERVISOR'] is defined %}
                {{ path('app_supervisor_show',{'id' : app.user.id}) }}
                {% endif %}
                ">
                    <div class="dropdown-item-icon">
                        <i data-feather="settings"></i>
                    </div>
                    Profil                       
                </a>
                <a class="dropdown-item" href="{{path('logout')}}">
                    <div class="dropdown-item-icon">
                        <i data-feather="log-out"></i>
                    </div>
                    Se déconnecter                        
                </a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
    </ul>
</nav>
