<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <!-- Sidenav Menu Heading (Account)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                    <div class="sidenav-menu-heading d-sm-none"> Account
                                                    
                </div>
                <!-- Sidenav Link (Alerts)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <a class="nav-link d-sm-none" href="#!">
                    <div class="nav-link-icon">
                        <i data-feather="bell"></i>
                    </div>
                    Alerts
                                                                                    
                                                    
                    <span class="badge bg-warning-soft text-warning ms-auto">
                        4 New!
                                                        
                    </span>
                </a>
                <!-- Sidenav Link (Messages)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <a class="nav-link d-sm-none" href="#!">
                    <div class="nav-link-icon">
                        <i data-feather="mail"></i>
                    </div>
                    Messages
                                                                                    
                                                    
                    <span class="badge bg-success-soft text-success ms-auto">
                        2 New!
                                                        
                    </span>
                </a>
                <!-- Sidenav Menu Heading (Core)-->
                <div class="sidenav-menu-heading">
                    Dashboard
                                                
                </div>
                <!-- Sidenav Accordion (Dashboard)-->
                <a class="nav-link" href="#">
                    <div class="nav-link-icon">
                        <i data-feather="grid"></i>
                    </div>
                    Home
                                                                                
                </a>
                <!-- Sidenav Accordion (Pages)-->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Utilisateurs
                                                                                    
                                                    
                    <div class="sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </a>
                <div class="collapse" id="collapsePages" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                        
                        <a class="nav-link" href="{{ path('app_administrateur_index')}}">
                            Administrateurs
                        </a>
                        {# {% endif %}  #}
                        <a class="nav-link" href="{{ path('app_adherant_index')}}">
                            Adherants                                 
                        </a>
                    </nav>
                </div>
                <a class="nav-link" href="{{ path('app_club_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Clubs
                </a>
                <a class="nav-link" href="{{ path('app_categorie_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Categories
                </a>
                <a class="nav-link" href="{{ path('app_coach_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Coach
                </a>
                <a class="nav-link" href="{{ path('app_cours_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Cours
                </a>
                <a class="nav-link" href="{{ path('app_cycle_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Cycle
                </a>
                <a class="nav-link" href="{{ path('app_doctor_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Doctor
                </a>
                <a class="nav-link" href="{{ path('app_dossiermedical_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Dossier Medical
                </a>
                <a class="nav-link" href="{{ path('app_equipe_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Equipe
                </a>
                <a class="nav-link" href="{{ path('app_master_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Master
                </a>
                <a class="nav-link" href="{{ path('app_mesure_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Mesure
                </a>
                 <a class="nav-link" href="{{ path('app_niveau_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Niveau
                </a>
                 <a class="nav-link" href="{{ path('app_note_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Note
                </a>
                 <a class="nav-link" href="{{ path('app_objectif_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Objectif
                </a>
                 <a class="nav-link" href="{{ path('app_seance_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Seance
                </a>
                 <a class="nav-link" href="{{ path('app_section_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Section
                </a>
                 <a class="nav-link" href="{{ path('app_supervisor_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Supervisor
                </a>
                 <a class="nav-link" href="{{ path('app_teste_index')}}">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                    Teste
                </a>
            </div>
        </div>
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">
                    Connecté en tant que:                 
                </div>
                <div class="sidenav-footer-title">   
                </div>
            </div>
        </div>
    </nav>
</div>
