<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <!-- Sidenav Menu Heading (Account)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                    
                <!-- Sidenav Menu Heading (Core)-->
                <div class="sidenav-menu-heading">
                    Dashboard                       
                </div>
                <!-- Sidenav Accordion (Dashboard)-->
                {% if app.user.roles['ROLE_MASTER'] is defined %}
                    <a class="nav-link" href="{{ path('app_club_index')}}">
                        <div class="nav-link-icon">
                            <i data-feather="bookmark"></i>
                        </div>
                        Clubs
                    </a>
                    <a class="nav-link" href="{{ path('app_newsletter_master') }}">
                        <div class="nav-link-icon">
                            <i data-feather="mail"></i>
                        </div>
                        Newsletter                                                         
                    </a>
                    <a class="nav-link" href="{{ path('app_maladie_index') }}">
                        <div class="nav-link-icon">
                            <i data-feather="heart"></i>
                        </div>
                        Maladies
                    </a>
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapsePages">
                        <div class="nav-link-icon">
                            <i data-feather="users"></i>
                        </div>
                        Utilisateurs                    
                        <div class="sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="collapseUsers" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                            <a class="nav-link" href="{{ path('app_user_index')}}">
                                Users
                            </a>
                            <a class="nav-link" href="{{ path('app_administrateur_index')}}">
                                Admistrateurs
                            </a>
                            <a class="nav-link" href="{{ path('app_coach_index')}}">
                                Entaîneurs
                            </a>
                            <a class="nav-link" href="{{ path('app_doctor_index')}}">
                                Docteurs
                            </a>
                            <a class="nav-link" href="{{ path('app_adherant_index')}}">
                                Adhérents
                            </a>
                            <a class="nav-link" href="{{ path('app_supervisor_index')}}">
                                Parents
                            </a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseFormation" aria-expanded="false" aria-controls="collapsePages">
                        <div class="nav-link-icon">
                            <i data-feather="menu"></i>
                        </div>
                        Formation                    
                        <div class="sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="collapseFormation" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                            <a class="nav-link" href="{{ path('app_section_index')}}">
                                Sections
                            </a>
                            <a class="nav-link" href="{{ path('app_niveau_index')}}">
                                Niveaux
                            </a>
                            <a class="nav-link" href="{{ path('app_cycle_index')}}">
                                Cycles
                            </a>
                            <a class="nav-link" href="{{ path('app_equipe_index')}}">
                                Equipes
                            </a>
                        </nav>
                    </div>
                {% else %}
                    <a class="nav-link" href="{{ path('app_club_show',{'id':app.user.clubid.id})}}">
                        <div class="nav-link-icon">
                            <i><img src="{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}" width="20px" hight="20px"/></i>
                        </div>
                        {{app.user.clubid.nom}}
                    </a>
                    {% if app.user.roles['ROLE_ADMIN'] is defined %}  
                    <a class="nav-link " href="{{ path('app_club_stats') }}">
                        <div class="nav-link-icon">
                            <i data-feather="activity"></i>
                        </div>
                        Statistiques
                    </a>
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapsePages">
                        <div class="nav-link-icon">
                            <i data-feather="users"></i>
                        </div>
                        Membres                    
                        <div class="sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>                      
                    <div class="collapse" id="collapseUsers" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                            {% if app.user.roles['app_acteur_index'] is defined%}
                            <a class="nav-link" href="{{ path('app_acteur_index')}}">
                                Acteurs
                            </a>
                            {% endif %}
                            {% if app.user.roles['app_administrateur_index'] is defined%}
                            <a class="nav-link" href="{{ path('app_administrateur_index')}}">
                                Administrateurs
                            </a>
                            {% endif %}
                            {% if app.user.roles['app_coach_index'] is defined%}
                            <a class="nav-link" href="{{ path('app_coach_index')}}">
                                Entaîneurs
                            </a>
                            {% endif %}
                            {% if app.user.roles['app_doctor_index'] is defined%}
                            <a class="nav-link" href="{{ path('app_doctor_index')}}">
                                Docteurs
                            </a>
                            {% endif %}
                            {% if app.user.roles['app_staff_index'] is defined%}
                            <a class="nav-link" href="{{ path('app_staff_index')}}">
                                Staff
                            </a>
                            {% endif %}
                            {% if app.user.roles['app_adherant_index'] is defined%}
                            <a class="nav-link" href="{{ path('app_adherant_index')}}">
                                Adhérents
                            </a>
                            {% endif %}                         
                        </nav>
                    </div>
                    {% if app.user.roles['app_encaissement_index'] is defined or app.user.roles['app_decaissement_index'] is defined %}
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseTriso" aria-expanded="false" aria-controls="collapsePages">
                        <div class="nav-link-icon">
                            <i data-feather="dollar-sign"></i>
                        </div>
                        Trésorie                    
                        <div class="sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="collapseTriso" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                            {% if app.user.roles['app_encaissement_index'] is defined %}
                            <a class="nav-link" href="{{ path('app_encaissement_index')}}">
                                Entrées
                            </a>
                            {% endif %}
                            {% if app.user.roles['app_decaissement_index'] is defined%}
                            <a class="nav-link" href="{{ path('app_decaissement_index')}}">
                                Sorties
                            </a>
                            {% endif %}
                        </nav>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_DOCTOR'] is defined %}
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseParams" aria-expanded="false" aria-controls="collapsePages">
                        <div class="nav-link-icon">
                            <i data-feather="settings"></i>
                        </div>
                        Paramètres                    
                        <div class="sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="collapseParams" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                            {% if app.user.roles['app_user_index'] is defined %}
                            <a class="nav-link" href="{{ path('app_user_index')}}">
                                <i data-feather="log-in" style="margin-right:5px;"></i>
                                    Droits d'accés
                            </a>
                            {% endif %}
                            {% if app.user.roles['app_poste_index'] is defined %}
                            <a class="nav-link" href="{{ path('app_poste_index') }}">
                                    <i data-feather="users" style="margin-right:5px;"></i>
                                    Postes
                                </a>
                            {% endif %}
                            {% if app.user.roles['app_maladie_index']%}
                                <a class="nav-link" href="{{ path('app_maladie_index') }}">
                                    <i data-feather="heart" style="margin-right:5px;"></i>
                                    Santé
                                </a>
                            {% endif %}
                        </nav>
                    </div>
                    {% endif %}
                    <hr>
                    {% if section.id is defined and section.id is not null %}
                        <a class="nav-link" href="{{ path('app_section_show',{'id' : section.id}) }}">
                            <div class="nav-link-icon">
                                <i><img src="{{ vich_uploader_asset(section, 'logoFile') }}" width="20px" hight="20px"/></i>
                            </div>
                            {{ section.nom}}                                                         
                        </a>
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                            {% for niveau in section.niveaux %}
                            <a class="nav-link" href="{{ path('app_niveau_show',{'id' : niveau.id})}}">
                                {{niveau.nom}}
                            </a>
                            <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                                {% for equipe in niveau.equipes %}
                                    <a class="nav-link" href="{{ path('app_equipe_show',{'id':equipe.id})}}">
                                        {{equipe.nom}}
                                    </a>
                                {% endfor %}
                            </nav>
                            {% endfor %}
                        </nav>
                        <a class="nav-link" href="{{ path('app_adherant_index_section',{'id' : section.id}) }}">
                            <div class="nav-link-icon">
                                <i data-feather="users"></i>
                            </div>
                            Adhérents                                                         
                        </a>
                        <a class="nav-link" href="{{ path('app_blog_index',{'id':section.id})}}">
                            <div class="nav-link-icon">
                                <i data-feather="file"></i>
                            </div>
                            Publications
                        </a>
                        {% if app.user.roles['app_newsletter_index'] is defined %}
                        <a class="nav-link" href="{{ path('app_newsletter_index',{'id' : section.id}) }}">
                            <div class="nav-link-icon">
                                <i data-feather="mail"></i>
                            </div>
                            Newsletter                                                         
                        </a>
                        {% endif %}
                    {% endif %} 
                {% endif %}
                <!-- Sidenav Accordion (Pages)-->
                
            </div>
        </div>
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">
                    Connecté en tant que:                 
                </div>
                <div class="sidenav-footer-title">  
                    {{app.user.Email is defined ? app.user.Email : ''}} 
                </div>
            </div>
        </div>
    </nav>
</div>
