{% extends "base.html.twig" %}
{% block content %}
    <main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container-fluid px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon">
                                    <i data-feather="user"></i>
                                </div>
                                Liste des Equipes                       
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-fluid px-4">
            <div class="card">
                <div class="card-body table-responsive">
                    <table class="table" id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Club</th>
                                            <th>Niveau</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for equipe in equipes %}
                                        <tr>
                                            <td>{{ equipe.id }}</td>
                                            <td>{{ equipe.nom }}</td>
                                            <td>{{ equipe.clubid.nom }}</td>
                                            <td>{{ equipe.niveauid.nom }}</td>
                                            <td>
                                            <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('app_equipe_show', {'id': equipe.id}) }}">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('app_equipe_edit', {'id': equipe.id}) }}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                            {{ include('equipe/_delete_form.html.twig') }}
                                        </a>
                                    </td>
                                           
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="9">no records found</td>
                                </tr>
                            {% endfor %}
                                    </tbody>
                                </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
