{% extends 'base.html.twig' %}

{% block title %}Adherant{% endblock %}

{% block content %}
<main>
        {% if app.user.roles['ROLE_MASTER'] is defined %}
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
    {% else %}
        <header class="page-header page-header-dark bg-gradient pb-10" style="background-color: {{ app.user.clubid.color }};">
        <img class="img-account-profile mb-2" src="{{ vich_uploader_asset(app.user.clubid, 'logoFile') }}" alt="" style="float:right; margin-top: 1rem; margin-right: 1rem;" />
    {% endif %}
            <div class="container-xl px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="menu"></i></div>
                                {{ equipe.nom }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-4">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Fiche Niveau
                        <br>
                        <br>
                        </div>
                        <div class="card-body">
                            <!-- Form Row-->
                            
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <a class="btn btn-outline-success" href="{{ path('app_seance_index',{'id' : equipe.id}) }}" style="display:block">Liste des Seances</a>
                                </div>
                                <div class="col-md-6">
                                    <a class="btn btn-outline-success" href="{{ path('app_teste_index',{'id' : equipe.id}) }}" style="display:block">Liste des Testes</a>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Nom</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ equipe.nom }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Date de Creation</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ equipe.createdat| date('m/d/Y') }}</p>
                                    <hr>  
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Coach</h2>
                                    <p class=" mb-1" for="inputFirstName"><a href="{{ path('app_coach_show',{'id' : equipe.coachid.id})}}">{{ equipe.coachid.nom }} {{ equipe.coachid.prenom }}</a> 
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Doctor</h2>
                                    <p class=" mb-1" for="inputFirstName"><a href="{{ path('app_doctor_show',{'id' : equipe.doctorid.id})}}">{{ equipe.doctorid.nom }} {{ equipe.doctorid.prenom }}</a> 
                                    <hr>  
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Categorie</h2>
                                    <p class=" mb-1" for="inputFirstName"><a href="{{ path('app_niveau_show',{'id' : equipe.niveauid.id})}}">{{ equipe.niveauid.sectionid.nom }} : {{ equipe.niveauid.nom }}</a> 
                                    <hr>  
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <h2 class="small mb-1" for="inputFirstName">Liste des Adhérants</h2>
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th width="10%">
                                                    #
                                                </th>
                                                <th width="45%">
                                                    Nom
                                                </th>
                                                <th width="45%">
                                                    Date de Naissance
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for  adherant in  equipe.adherants %}
                                                <tr>
                                                    <td width="45%">
                                                        {{  adherant.licence }}
                                                    </td>
                                                    <td width="45%">
                                                        <a href="{{ path('app_adherant_show',{'id' : adherant.id})}}">{{ adherant.nom }} {{ adherant.prenom }}</a>                                                    </td>
                                                    <td width="45%">
                                                        {{ adherant.birthdate | date('m/d/Y') }}
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="17">
                                                        aucune entrée
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined %}
                                <div class="col-12">
                                    <a class="btn btn-outline-warning" href="{{ path('app_equipe_edit',{'id' : equipe.id}) }}" style="float:left">Modifier</a>
                                    <a style="float:right">
                                        {{ include('equipe/_delete_form.html.twig') }}
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
