{{ form_start(form) }}
<div class="row">
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">
                Fiche Paiement                                            
            </div>
            <div class="card-body">
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.date, 'Date', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.date, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.date) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.total, 'Total', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.total, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.total) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        {{ form_label(form.mode, 'Mode de Paiement', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.mode, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.mode) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.status, 'Status de Paiement', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.status, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.status) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-8">
                        {{ form_label(form.designation, 'Désignation', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.designation, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.designation) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.ref, 'Référence', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.ref, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.ref) }}
                    </div>
                </div>
                <hr>
                {% if payment.userid.id is not defined %}
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            {{ form_label(form.userid, 'Utilisateur', {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.userid, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.userid) }}
                        </div>
                    </div>
                {% else %}
                <div hidden >
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            {{ form_label(form.userid, 'User', {'label_attr':{'class':'small mb-1' }}) }}                                   
                            {{ form_widget(form.userid, {'attr':{'class':'form-control' }}) }}                               
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.userid) }}
                        </div>
                    </div>
                </div>
                {% endif %}
                <button class="btn btn-outline-primary">
                        {{ button_label|default('Sauvegarder') }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
